@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Open+Sans&display=swap");
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/sGilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/*font-family: 'Open Sans', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: rgba(244, 245, 249, 0.5);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7187A0;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin: 0 auto;
  display: flex; }
  .row.full-justify {
    max-width: 100%; }
  .row.row-wrap {
    flex-wrap: wrap; }
  .row.justify {
    justify-content: space-between; }

header {
  padding: 21px 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  header .row {
    align-items: center; }

.logo img {
  max-width: 200px; }

.user span {
  display: inline-block;
  vertical-align: middle; }

.user-title {
  font-size: 18px;
  letter-spacing: 0.39px;
  line-height: 32px;
  margin-right: 27px; }

.featured {
  position: relative; }
  .featured .next-slide, .featured .prev-slide {
    top: 44%; }

.featured-slider {
  margin-bottom: 0 !important; }
  .featured-slider .slick-list {
    padding-bottom: 40px !important; }
  .featured-slider-item {
    position: relative;
    max-width: 1323px;
    margin: 0 18px; }
    .featured-slider-item:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0E1018;
      border-radius: 7px;
      opacity: .5; }
    .featured-slider-item.slick-center:after {
      display: none; }
    .featured-slider-item .slide-item-img {
      border-radius: 7px;
      box-shadow: 0 17px 30px 0 rgba(14, 16, 24, 0.13); }
    .featured-slider-item .slide-description {
      max-width: 550px;
      margin-left: 65px;
      position: absolute;
      top: 0;
      font-size: 15px;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center; }
      .featured-slider-item .slide-description b {
        font-weight: 700; }
      .featured-slider-item .slide-description .epc {
        display: inline-block;
        margin-left: 20px;
        font-weight: 700;
        padding: 5px 10px;
        line-height: 22px;
        border: 1px solid #fff;
        border-radius: 21px; }
      .featured-slider-item .slide-description h3 {
        margin-top: 10px; }

.slick-dots {
  bottom: 65px;
  text-align: right;
  padding-right: 22%;
  width: auto;
  right: 0; }
  .slick-dots li {
    width: 8px;
    margin: 0 7px; }
    .slick-dots li button {
      width: 8px;
      height: 8px;
      background: #a9a9a9;
      border-radius: 50%; }
      .slick-dots li button:before {
        display: none; }
    .slick-dots li.slick-active button {
      background: #fff; }

h2 {
  margin-bottom: 35px;
  font-family: 'Gilroy-Bold';
  font-size: 51px;
  line-height: 59px; }

.primary-btn {
  display: inline-block;
  margin-right: 25px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  background: #453fa8;
  background: -moz-linear-gradient(15deg, #453fa8 0%, #747fed 100%);
  background: -webkit-linear-gradient(15deg, #453fa8 0%, #747fed 100%);
  background: linear-gradient(15deg, #453fa8 0%, #747fed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#453fa8",endColorstr="#747fed",GradientType=1); }
  .primary-btn:hover {
    background: linear-gradient(35deg, #453fa8 0%, #747fed 100%); }
  .primary-btn.light-font {
    margin-top: 10px;
    margin-right: 0;
    font-weight: 400; }

.default-btn {
  font-size: 14px;
  color: #fff; }
  .default-btn svg {
    fill: #fff;
    width: 10px;
    height: 10px;
    margin-left: 5px; }

h1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: #020202;
  letter-spacing: 1.15px; }
  h1 + p {
    font-size: 18px;
    letter-spacing: 0.39px;
    line-height: 32px;
    color: #7187A0; }

.margin-left-auto {
  margin-left: auto; }

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.69px;
  color: #1E252E; }

.margin-top-50 {
  margin-top: 10px; }

.slick-slide {
  outline: none; }

.wrap-slider {
  margin-left: calc((100% - 1320px)/2);
  position: relative; }
  .wrap-slider .next-slide {
    right: calc(100% - 1400px); }

.slider-card {
  width: 100%;
  max-width: 416px;
  background: #fff;
  border-radius: 7px;
  margin-top: 15px;
  margin-right: 38px;
  margin-bottom: 38px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden; }
  .slider-card .card-img {
    height: 224px;
    border-radius: 7px 7px 0 0;
    overflow: hidden; }
    .slider-card .card-img img {
      transition: all .3s ease-in-out; }
  .slider-card:hover .card-img img {
    transform: scale(1.15) rotate(3deg); }
  .slider-card .primary-btn {
    background: #00D38C; }
    .slider-card .primary-btn.added, .slider-card .primary-btn:hover {
      background: #03A374; }
  .slider-card .default-btn {
    text-decoration: none;
    font-weight: 700;
    color: #5688F0; }
    .slider-card .default-btn svg {
      fill: #5688F0; }
    .slider-card .default-btn:hover {
      opacity: .7; }
  .slider-card .card-detail {
    padding: 20px 25px;
    font-size: 15px;
    position: relative;
    height: 215px; }
  .slider-card .card-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6D7C91; }
  .slider-card .card-epc {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 15px;
    background: #F4F5F9;
    border-radius: 21px;
    color: #00D38C; }
  .slider-card .card-title {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    letter-spacing: 0.39px;
    color: #1E252E; }
  .slider-card .card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 25px;
    bottom: 30px; }

.next-slide, .prev-slide {
  background: transparent;
  position: absolute;
  right: 120px;
  top: 50%;
  margin-top: -17px;
  z-index: 2;
  cursor: pointer;
  outline: none; }
  .next-slide svg, .prev-slide svg {
    fill: #fff;
    width: 18px;
    height: 34px; }

.prev-slide {
  left: 120px;
  right: auto;
  transform: rotate(180deg); }

.offer-slider .slick-slide .slider-card {
  position: relative; }
  .offer-slider .slick-slide .slider-card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }

.offer-slider .slick-active .slider-card:after {
  display: none; }

footer {
  font-size: 15px;
  color: #fff;
  margin-top: 130px;
  padding: 55px 0;
  background: #24d8c5;
  background: -moz-linear-gradient(90deg, #24d8c5 0%, #00d38c 100%);
  background: -webkit-linear-gradient(90deg, #24d8c5 0%, #00d38c 100%);
  background: linear-gradient(90deg, #24d8c5 0%, #00d38c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#24d8c5",endColorstr="#00d38c",GradientType=1); }
  footer .title-offers {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.62px;
    color: #fff; }
  footer .row {
    align-items: center; }
  footer .primary-btn {
    margin-top: 0;
    font-size: 21px;
    padding-left: 30px;
    padding-right: 30px; }

.action-offers {
  text-align: center; }
  .action-offers p {
    margin-top: 20px; }

.offers-selected {
  margin-top: 20px; }
  .offers-selected li {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
    .offers-selected li a {
      text-decoration: none;
      line-height: 30px;
      display: inline-block;
      background: #F4F5F9;
      border-radius: 21px;
      padding: 0 20px 0 15px;
      font-weight: 700;
      font-size: 15px;
      color: #1E252E; }
      .offers-selected li a svg {
        width: 14px;
        height: 14px;
        margin-right: 7px;
        position: relative;
        top: 2px; }

@media screen and (max-width: 1440px) {
  .featured-slider-item .slide-description {
    max-width: 450px; }
  h2 {
    font-size: 34px;
    line-height: 44px; } }

@media screen and (max-width: 1350px) {
  .wrap-slider {
    margin-left: 15px; }
    .wrap-slider .next-slide {
      right: 30px; } }

@media screen and (max-width: 992px) {
  .featured-slider-item:after, .featured .next-slide, .featured .prev-slide {
    display: none; }
  .featured-slider-item {
    height: 260px; }
  .featured-slider-item .slide-item-img {
    object-fit: cover;
    height: 100%; }
  h1 {
    font-size: 40px;
    line-height: 52px; }
  h3 {
    font-size: 30px;
    line-height: 40px; }
  .campaign .row {
    flex-direction: column; }
  .campaign .margin-left-auto {
    margin-left: 0; } }

@media screen and (max-width: 768px) {
  .featured-slider-item .slide-description {
    margin-left: 30px; }
  h2 {
    font-size: 28px;
    line-height: 38px; } }

@media screen and (max-width: 680px) {
  h1 {
    font-size: 34px; }
  h3 {
    font-size: 22px; }
  footer .row {
    flex-direction: column;
    text-align: center; }
  footer .count-offers {
    margin-bottom: 50px; } }

@media screen and (max-width: 576px) {
  .user-title {
    font-size: 16px;
    margin-right: 20px; }
  .user-img {
    max-width: 42px; }
  .logo img {
    max-width: 160px; } }

@media screen and (max-width: 500px) {
  .wrap-slider .next-slide {
    display: none; }
  .slider-card {
    width: calc(100% - 15px);
    max-width: 100%;
    margin-right: 0; }
    .slider-card .card-img {
      height: auto; }
    .slider-card .card-detail {
      padding: 20px; }
    .slider-card .card-action {
      padding: 0 20px; }
    .slider-card .primary-btn {
      font-size: 14px;
      padding-left: 13px;
      padding-right: 13px; } }

@media screen and (max-width: 480px) {
  .user-title span {
    display: none; }
  .featured-slider-item .slide-description {
    margin-left: 20px; }
  .slick-dots {
    bottom: 40px;
    text-align: center;
    padding-right: 0;
    width: auto;
    right: 0;
    left: 0; }
  .primary-btn {
    font-size: 14px; } }
