footer
  .container
    .row.justify
      .count-offers
        //p.title-offers No Offers Selected
        p.title-offers 3 Offers Selected
        ul.offers-selected
          li
            a(href="#")
              svg
                use(xlink:href="images/sprite.svg#remove")
              |4976

          li
            a(href="#")
              svg
                use(xlink:href="images/sprite.svg#remove")
              |5016

          li
            a(href="#")
              svg
                use(xlink:href="images/sprite.svg#remove")
              |4487

      .action-offers
        //
          a(href="#").primary-btn.light-font Skip to Campaign homepage

        a(href="#").primary-btn.light-font Apply For Offers
        p You will recieve a response within 24 hrs
