header

  .container
    .row.justify

      .logo
        a(href="index.html")
          img(src="images/logo.png")

      .user
        span.user-title: <span>Welcome back,</span> Garrett
        span.user-img
          img(src="images/user-img.png" , alt="Garrett")
